@import "tailwindcss";

body, 
a, 
button, 
input, 
textarea{
  cursor:url("/assets/cur/3d-cursor-illustration-png.ico"),pointer;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 255, 0.7);
  border-radius: 14px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 255, 255, 0.7);
}
.glowing-text {
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.7), 0 0 10px rgba(0, 255, 255, 0.5), 0 0 15px rgba(0, 255, 255, 0.3);
}
.mx-20 {
  margin-inline: 12rem !important;
}
@keyframes gradient-border {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.border-gradient {
  background: linear-gradient(90deg, #ff6b6b, #fddb3a, #4dabf7, #ff6b6b);
  background-size: 300% 300%;
  animation: gradient-border 6s ease infinite;
  border-radius: 8px;
}
.terminal {
  height: 500px !important;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.animate-blink {
  animation: blink 0.8s infinite;
}
.glowing-icon {
  position: relative;
  display: inline-block;
  transition: text-shadow 0.3s ease, color 0.3s ease;
}
.glow-github {
  color: #3333ff;
  text-shadow: 0 0 10px #3333ff, 0 0 20px #3333ff, 0 0 30px #3333ff, 0 0 40px #3333ff;
}
.glow-instagram {
  color: #ff69b4;
  text-shadow: 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff69b4, 0 0 40px #ff69b4;
}
.glow-twitter {
  color: #1da1f2; 
  text-shadow: 0 0 10px #1da1f2, 0 0 20px #1da1f2, 0 0 30px #1da1f2, 0 0 40px #1da1f2;
}
.glow-linkedin {
  color: #0077b5;
  text-shadow: 0 0 10px #0077b5, 0 0 20px #0077b5, 0 0 30px #0077b5, 0 0 40px #0077b5;
}
.glow-phone {
  color: #34b7f1;
  text-shadow: 0 0 10px #34b7f1, 0 0 20px #34b7f1, 0 0 30px #34b7f1, 0 0 40px #34b7f1;
}
.glow-email {
  color: #ffcc00;
  text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ffcc00, 0 0 40px #ffcc00;
}
.glowing-icon:hover {
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
  color: white; 
}
.border-gradient-project {
  position: relative;
  background: linear-gradient(90deg, #fd9774, #ffbf6b, #fff36c, #6bffb7, #6fd1ff, #ec80ff);
  background-size: 300% 300%;
  animation: moveBorder 4s linear infinite;
  padding: 1px;
  border-radius: 1rem;
}

@keyframes moveBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@keyframes borderMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.border-gradient-education {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background: linear-gradient(90deg, #ffffff, #00ffff, #9400d3, #00ff00);
  background-size: 300% 300%;
  animation: borderMove 4s linear infinite;
  padding: 1px; /* Adjust border thickness */
}

.border-gradient-project > div {
  background: #2A2154;
  padding: 20px;
}
